/*cards*/

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  justify-content: center;
  margin: 80px 0 80px 25px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 320px;
  border-radius: 24px;
  line-height: 1.6;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  padding: 20px;
}

.card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 16px;
  margin-bottom: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  padding: 36px;
  border-radius: 22px;
  color: #ffffff;
  overflow: hidden;
  background: #0a3cff;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.content::before {
  position: absolute;
  content: "";
  top: -4%;
  left: 50%;
  width: 90%;
  height: 90%;
  transform: translate(-50%);
  background: #ced8ff;
  z-index: -1;
  transform-origin: bottom;
  border-radius: inherit;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.content::after {
  position: absolute;
  content: "";
  top: -8%;
  left: 50%;
  width: 80%;
  height: 80%;
  transform: translate(-50%);
  background: #e7ecff;
  z-index: -2;
  transform-origin: bottom;
  border-radius: inherit;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.content .para {
  z-index: 1;
  opacity: 1;
  font-size: 18px;
}

.content .link {
  z-index: 1;
  color: #fea000;
  text-decoration: none;
  font-family: inherit;
  font-size: 16px;
}

.content .link:hover {
  text-decoration: underline;
}

.card:hover {
  transform: translate(0px, -16px);
}

.card:hover .content::before {
  rotate: -8deg;
  top: 0;
  width: 100%;
  height: 100%;
}

.card:hover .content::after {
  rotate: 8deg;
  top: 0;
  width: 100%;
  height: 100%;
}

/* Novo CSS para a faixa de "LANÇAMENTO!" */
.card .content span {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: red;
  color: #fff;
  font-weight: bold;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  animation: vento 3s linear infinite; /* Animação de vento */
}

/* Animação de movimento para simular o vento */
@keyframes vento {
  0% {
    transform: translateX(-50%) translateY(0);
  }
  50% {
    transform: translateX(-50%) translateY(-10px);
  }
  100% {
    transform: translateX(-50%) translateY(0);
  }
}

/*Modal*/
/* Estilo para a imagem do modal */

/* Modal - ocupar a tela toda */
.modal {
  display: none; /* Inicialmente escondido */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Fundo escurecido */
  z-index: 9999;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

/* Modal content */
.modal-content {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
}

/* A imagem fica centralizada no topo */
.modal-imagem {
  width: 633px;
  max-width: 800px; /* Limita o tamanho máximo da imagem */
  height: 422px;
  margin-bottom: 20px;
  object-fit: contain;
  border-radius: 10px;
}

/*fechar*/
.fechar {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  color: #000;
  cursor: pointer;
  border: 1px solid black;
  padding: 7px 15px 7px 15px;
  border-radius: 999px;
  transition: 0.3s;
}

.fechar:hover {
  transform: scale(1.2);
  border-color: #0400ff;
}
